:root {
  --color-primary: #efe65c;
  --color-primary-light: #fffccc;
  --color-secondary: #2f4858;
}

.text-yellow {
  color: var(--color-primary);
}

.text-gray {
  color: var(--color-secondary);
}

.bg-yellow {
  background-color: var(--color-primary) !important;
}

.bg-yellow-light {
  background-color: var(--color-primary-light) !important;
}

.bg-gray {
  background-color: var(--color-secondary) !important;
  color: #ffffff !important;
}

.btn-icon {
  font-size: 3rem;
}

.timer-fill {
  stroke: #000;
  stroke-width: 0.8rem;
  z-index: 1;
  fill: none;
}

#filter-gradient {
  stroke-width: 0.8rem;
  background: conic-gradient(
    from 0deg at 50% 50%,
    #fffccc 0%,
    #ffff75 25%,
    #efe65c 50%,
    #ffc5a5 75%,
    #f98e71 100%
  );
  z-index: 2;
  mix-blend-mode: lighten;
}

#section-left :not(#filter-gradient):not(.timer-fill) {
  z-index: 2;
}

#section-left {
  overflow: hidden;
}

.timer-base {
  fill: none;
  /* stroke: var(--color-primary-light); */
  stroke: gainsboro;
  stroke-width: 0.83rem;
  stroke-dasharray: 252, 252;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: linear;
  /* animation: timer ease-in-out infinite 10s; */
}

.timer-svg {
  transform: rotate(90deg);
}

.animation-expand {
  animation: click 1s ease;
}

@keyframes click {
  25% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

.bi {
  cursor: pointer;
}

#section-right i:hover {
  color: hsl(56, 82%, 50%);
  transition: all ease-in-out 200ms;
}

#controls-break-timer i {
  font-size: 3.5rem;
  transition: all ease 200ms;
}

#controls-break-timer i:hover {
  transform: scale(1.2) !important;
  color: hsl(56, 82%, 50%);
}

button.bg-yellow:hover {
  background-color: hsl(56, 82%, 50%) !important;
  transition: all ease-in-out 200ms;
}

button.bg-gray:hover {
  background-color: hsl(203, 30%, 20%) !important;
  transition: all ease-in-out 200ms;
}

@keyframes timer {
  from {
    stroke-dasharray: 252, 252;
  }
  to {
    stroke-dasharray: 0, 252;
  }
}

.form-check {
  padding-left: 0 !important;
  padding-bottom: 1rem;
  font-weight: 500;
  border-bottom: rgb(230, 226, 226) solid 1px;
}

.form-label {
  font-weight: 500;
}

.form-switch {
  margin-left: 0 !important;
}

.form-check-input:checked {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

.form-check-input {
  height: 1.4rem !important;
  width: 2.5rem !important;
}

.bg-yellow:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem var(--color-primary-light) !important;
}

@media (max-width: 991px) {
  .display-3 {
    font-size: 5rem !important;
    font-weight: 600 !important;
  }

  #txt-break-time {
    color: var(--color-secondary) !important;
  }
}
