body {
  --color-primary: #efe65c;
  --color-primary-light: #fffccc;
  --color-secondary: #2f4858;
  --color-text: #efefef;
}

body.dark-mode {
  --color-primary: #efe65c;
  --color-primary-light: #fffccc;
  --color-secondary: #dfebf3;
  --color-text: #222;

}

header {
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
  z-index: 5;
}

.bg-header {
  background-color: #2f4858;
}

#header-index {
  transition: background-color ease 1s !important;
  height: 2.5rem;
}

body.dark-mode .controls .col:hover {
  background-color: #405c6d;
}

body.dark-mode .controls .close:hover {
  background-color: #e81123;
  color: #f1f1f1;
}

.controls .col:hover {
  background-color: #ebebeb;
  transition: background-color ease 300ms !important;
}

.controls .close:hover {
  background-color: #e81123;
}

.controls .close:hover .bi {
  color: #f1f1f1;
}

.controls {
  height: 100%;
  -webkit-app-region: none;
}

.controls .bi {
  color: var(--color-secondary);
  cursor: default;
  font-size: .9rem;
}

#options {
  top: 3rem;
}

.tooltip .tooltip-inner {
  background-color: var(--color-secondary);
  color: var(--color-text);
}

.tooltip .tooltip-arrow::before {
  border-left-color: var(--color-secondary) !important;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.389);
  border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.518);
}

.text-yellow {
  color: var(--color-primary);
}

.text-gray {
  color: var(--color-secondary);
}

.bg-yellow {
  background-color: var(--color-primary) !important;
}

.bg-yellow-light {
  background-color: var(--color-primary-light) !important;
}

.bg-gray {
  background-color: var(--color-secondary) !important;
  color: #ffffff !important;
}

.btn-icon {
  font-size: 3rem;
}

.timer-fill {
  stroke: #000;
  stroke-width: 0.8rem;
  z-index: 1;
  fill: none;
}

body.dark-mode .timer-fill {
  stroke: #fff;
  stroke-width: 0.83rem;

}

#filter-gradient {
  stroke-width: 0.8rem;
  background: conic-gradient(
    from 0deg at 50% 50%,
    #fffccc 0%,
    #ffff75 25%,
    #efe65c 50%,
    #ffc5a5 75%,
    #f98e71 100%
  );
  z-index: 2;
  mix-blend-mode: lighten;
}

body.dark-mode #filter-gradient {
  mix-blend-mode: darken;
}

#section-left :not(#filter-gradient):not(.timer-fill) {
  z-index: 2;
}

#section-left {
  overflow: hidden;
}

.timer-base {
  fill: none;
  /* stroke: var(--color-primary-light); */
  stroke: gainsboro;
  stroke-width: 0.83rem;
  stroke-dasharray: 252, 252;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: linear;
  /* animation: timer ease-in-out infinite 10s; */
}

.timer-svg {
  transform: rotate(90deg);
}

.animation-expand {
  animation: click 1s ease;
}

@keyframes click {
  25% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

.bi {
  cursor: pointer;
}

#section-right i:hover {
  color: hsl(56, 82%, 50%);
  transition: all ease-in-out 200ms;
}

#controls-break-timer i {
  font-size: 3.5rem;
  transition: all ease 200ms;
}

#controls-break-timer i:hover {
  transform: scale(1.2) !important;
  color: hsl(56, 82%, 50%);
}

button.bg-yellow:hover {
  background-color: hsl(56, 82%, 50%) !important;
  transition: all ease-in-out 200ms;
}

button.bg-gray:hover {
  background-color: hsl(203, 30%, 20%) !important;
  transition: all ease-in-out 200ms;
}

@keyframes timer {
  from {
    stroke-dasharray: 252, 252;
  }
  to {
    stroke-dasharray: 0, 252;
  }
}

.form-check {
  padding-left: 0 !important;
  padding-bottom: 1rem;
  font-weight: 500;
  border-bottom: rgb(230, 226, 226) solid 1px;
}

.form-label {
  font-weight: 500;
}

.form-switch {
  margin-left: 0 !important;
}

.form-check-input:checked {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

.form-check-input {
  height: 1.4rem !important;
  width: 2.5rem !important;
}

.bg-yellow:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem var(--color-primary-light) !important;
}

@media (max-width: 991px) {
  .display-3 {
    font-size: 5rem !important;
    font-weight: 600 !important;
  }

  #txt-break-time {
    color: var(--color-secondary) !important;
  }
}
